.row{   
   font-family: 'Bangers', cursive;
    display:flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
    background-color:aqua;
    color:white;
    font-size:20px;
}
.headshot{
    border: 2px solid blue;
    border-radius: 100px;
    width:9%;

}

.footer{
    
}
    

.mid{

    background-color:white;
    color:black;
    align-items:center;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
    height:110px;
}
.aboutme{
  
}

.contact{ display:flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
}
button{
    border: 2px solid #eecc65;
    border-radius: 100px;
    width:20%;
    color:#19a987;
}

.pic{
    border-style: 2px double;
    width:200px;
    height:200px;
}


.contact {
    color:#cc0099;
}

#tech-com{
    width:500px;
    height:250px;
}

#projects {
    display:flex;
    justify-content:space-around;
}

